.navbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.7s ease-in-out;
	display: block;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: var(--blueGrayBlueDarkGray);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.navContent {
		position: relative;
		width: 100%;
		padding: 30px;

		.showList {
			display: none;

			&:checked + div + label {
				transition: opacity 0.2s ease-in-out;
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}

@media screen and (min-width: 380px) {
	.navbar {
		.navContent {
			.darkMode {
				i {
					font-size: 1.6em;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.navbar {
		left: var(--toolbar);
		width: calc(100% - var(--toolbar));
	}
}

@media screen and (min-width: 600px) {
	.navbar {
		.navContent {
			.darkMode > i {
				font-size: 1.8em;
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.navbar {
		left: var(--toolbar);
		width: calc(100% - var(--appWidth) - var(--toolbar));
		height: 100vh;
	}
}

@media screen and (min-width: 1700px) {
	.navbar {
		width: calc(100% - var(--appWidth) - var(--toolbar) - 100px);
	}
}
