.Course {
  background: var(--files);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  padding: 20px;
  color: var(--filesHead);
  width: auto;
  border-radius: 10px;
  font-size: 0.8em;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.Course p {
  margin: 0;
  display: block;
}

.Course .courseContent .courseHead {
  opacity: 0.7;
}

.Course .courseContent .courseHead>strong {
  font-size: 0.95em;
  opacity: 0.8;
}

.Course .courseContent .courseHead>h1 {
  line-height: 30px;
}

.Course .courseContent .courseBody>p {
  opacity: 0.9;
}

.Course>span {
  background-color: var(--buttons);
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Course>span>i {
  font-style: normal;
  font-weight: bold;
  color: var(--white);
  font-size: 1.2em;
}

@media screen and (max-width: 1365px) {
  .Course {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 900px) {
  .Course {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .Course {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 405px) {
  .Course .courseContent .courseHead>h1 {
    line-height: 25px;
  }
}

@media screen and (max-width: 380px) {
  .Course {
    padding: 10px;
  }
  .Course>span {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 325px) {
  .Course .courseContent .courseHead>h1 {
    line-height: 20px;
  }
}