.showToolbar {
	position: fixed;
	appearance: none;
	border: none;
	outline: none;
	color: var(--white);
	background: none;
	padding: 20px;
	top: 0;
	right: 0;
	z-index: 9;
}

.toolbarShadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
}

.toolbar {
	height: 100vh;
	position: fixed;
	left: 0;
	z-index: 10;
	top: 0;
	width: 250px;
	padding: 20px 30px;
	align-items: center;
	justify-items: flex-start;
	list-style: none;
	transform: translateX(-300px);
	background: var(--whiteDarkGray);
	transition: transform 0.2s ease-in-out;
	font-size: 1.2em;

	.toolbarHeader {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		align-self: flex-start;
		height: max-content;
		background: transparent !important;

		h1 {
			font-size: 1.2em;
			color: var(--blackWhite);
		}

		p {
			margin-top: 10px;
			color: var(--blackWhite);
			opacity: 0.9;
			line-height: 1.2;
			font-size: 0.68em;
		}
	}

	a {
		text-decoration: none;
		appearance: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	& > button {
		img {
			height: 30px;
			width: 30px;
			border-radius: 100%;
		}

		img + span {
			margin-left: 10px;
		}
	}

	& > div,
	& > label,
	& > button {
		display: block;
		height: 45px;
		appearance: none;
		border: none;
		outline: none;
		position: relative;
		color: var(--blackWhite);
		width: calc(100% + 30px);
		opacity: 0.8;
		cursor: pointer;
		transition: background 0.2s ease-in-out;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 5px;
		padding: 10px 15px;
		margin-left: -15px;
		margin-bottom: 10px;
		font-size: 1em;
		background-color: transparent;

		i {
			font-size: 1.5em;
			color: var(--blackWhite);
		}

		span {
			font-weight: bold;
			font-size: 0.9em;
			margin-left: 15px;
			opacity: 1;
			pointer-events: none;
			transition: opacity 0.2s ease-in-out;
		}

		a {
			height: 100%;
			display: flex;
			align-items: center;
			color: var(--blackWhite);
		}
	}

	& > div {
		&:hover {
			background: var(--blue);
			opacity: 1;

			i,
			span {
				color: var(--white);
			}
		}
	}

	.signBtn {
		display: grid;
		grid-template-columns: auto auto auto 1fr;
		grid-template-rows: auto;
		height: max-content;
		justify-content: flex-start;
		padding-bottom: 0;

		i:nth-child(3) {
			transition: transform 0.2s ease-in-out;
		}
	}

	.signingMenu {
		position: relative;
		margin-top: 10px;
		width: 100%;
		z-index: 2;
		grid-column: 1/5;
		grid-row: 2/3;
		height: 0;
		transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
		opacity: 0;
	}

	.openSigning:checked ~ .signBtn {
		padding-bottom: 10px;
	}

	.openSigning:checked ~ .signBtn {
		i:nth-child(3) {
			transform: rotateZ(180deg);
		}
	}

	.openSigning:checked ~ .signBtn > .signingMenu {
		height: 90px;
		opacity: 1;
	}
}

.showToolbar:checked ~ .toolbar {
	transform: translateX(0);
}

.showToolbar:checked ~ .toolbarShadow {
	opacity: 1;
	pointer-events: all;
}

.pathActive {
	background: var(--blue) !important;
	opacity: 1 !important;

	i,
	span {
		color: var(--white) !important;
	}
}

@media screen and (min-width: 360px) {
	.toolbar {
		width: 300px;

		.toolbarHeader {
			p {
				font-size: 0.8em;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.toolbar {
		padding: 5px 23px;
		transform: translateX(0);
		background: var(--blueDarkGrayBlueDeepGray);
		width: var(--toolbar);
		grid-template-rows: repeat(7, 60px);

		.toolbarHeader {
			display: none;
		}

		& > div > a,
		& > label,
		& > div,
		& > button {
			transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

			img {
				height: 40px;
			}

			span {
				opacity: 0;
				pointer-events: none;
				padding: 10px;
				position: absolute;
				border-radius: 5px;
				font-size: 0.8em;
				width: max-content;
				margin-left: 40px;
				background: var(--whiteDarkGray);
				color: var(--darkGrayWhite) !important;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
			}
		}

		& > div > a,
		& > div,
		& > label,
		& > button {
			&:hover {
				opacity: 1;
				background: transparent;

				& > span {
					opacity: 1;
					pointer-events: all;
				}
			}
		}

		& > label {
			& > span:nth-child(2) {
				display: none;
			}
		}

		.signBtn {
			padding-bottom: 10px;
			z-index: 2;

			& > i:nth-child(3) {
				display: none;
			}
		}

		.signingMenu {
			position: absolute;
			left: 138%;
			width: 193px;
			top: -250%;
			height: max-content !important;
			opacity: 0;
			border-radius: 10px;
			z-index: 2;
			pointer-events: none;
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

			button {
				span {
					opacity: 1;
					border-radius: 0;
					box-shadow: none;
					margin-left: 30px !important;
				}
			}
		}

		.signBtn:hover .signingMenu {
			opacity: 1;
			pointer-events: all;
		}
	}

	.showToolbar {
		display: none;
	}

	.toolbar > div > a > i,
	.toolbar > button > i {
		font-size: 1.5em;
		color: var(--white);
	}

	.toolbar > .logBtn {
		height: 45px;
		width: 45px;
		display: flex;
		padding: 0;
		margin-top: 6px;
		margin-bottom: 15px;

		img {
			height: 100%;
			width: 100%;
			margin-left: 6.5px;
		}

		span {
			font-size: 0.75em;
			margin-left: 55px;
		}
	}

	.pathActive {
		background: var(--blue) !important;
		opacity: 1 !important;
		width: 59px !important;
		left: 15px;
	}
}

@media screen and (min-width: 600px) {
	.toolbar {
		padding: 5px 20px;
	}
}
