@keyframes sp {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0.4;
	}
}

.container {
	width: 100%;
	height: 210px;
	border-radius: 10px;
	background: var(--lightLightGray);
	margin-bottom: 20px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	row-gap: 10px;

	span {
		display: block;
		height: 100%;
		background-color: var(--black);
		opacity: 0.3;
		transition: width 1s ease-in-out;
		animation: sp 2s ease-in-out infinite;
		width: 100%;
		border-radius: 0 10px 10px 0;
	}
}
