.fileContainer {
	padding: 20px 20px 0 20px;
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	opacity: 1;
	animation: op 0.3s ease-in-out 1;
}

@media screen and (min-width: 720px) {
	.fileContainer {
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}
}
