@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.file {
  background: var(--files);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  padding: 0 20px;
  border-radius: 10px;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
}

.file>.fileHead {
  padding-top: 20px;
}

.file>.fileHead>h1 {
  font-size: 1.3em;
  color: var(--filesHead);
}

.file>.fileHead>h1::first-letter {
  text-transform: uppercase;
}

.file>.fileHead>p {
  margin-top: 10px;
  font-size: 0.9em;
  color: var(--filesHead);
  text-overflow: ellipsis;
  opacity: 0.8;
}

.file>.fileHead>p::first-letter {
  text-transform: uppercase;
}

.file>.fileMiddle {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  align-self: flex-end;
}

.file>.fileMiddle>ul {
  list-style: none;
  padding: 10px 0 20px 0;
  font-size: 0.8em;
  display: flex;
}

.file>.fileMiddle>ul>li {
  margin-right: 20px;
}

.file>.fileMiddle>ul>li>i {
  font-style: normal;
  margin-right: 5px;
  color: var(--filesHead);
  font-weight: 450;
}

.file>.fileMiddle>ul>li>span {
  color: var(--filesHead);
  display: block;
  opacity: 0.6;
  text-transform: capitalize;
}

.file>.fileBody {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  position: relative;
  z-index: 5;
}

.file>.fileBody>.actions {
  position: relative;
  z-index: 5;
}

.action {
  appearance: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: none;
}

.action>i, .action>label {
  position: relative;
  margin-top: 3px;
  color: var(--filesHead);
  opacity: 0.8;
  cursor: pointer;
}

.file>.prevBtn {
  display: none;
}

.file>.fileBody>a {
  text-decoration: none;
  position: relative;
  color: var(--white);
  font-size: 0.9em;
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

.file>.fileBody>a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--buttons);
}

.file>.fileBody>a>i {
  position: relative;
  margin-top: -10px;
  top: 5.5px;
}

@media screen and (min-width:720px) {
  #filecontainer {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (min-width:600px) {
  .file {
    height: 290px;
  }
}