.container {
	width: 100%;
	height: max-content;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;

	img {
		width: 40px;
		height: 40px;
		border-radius: 100%;
	}

	.content {
		margin-left: 10px;
		height: 100%;
		width: 100%;
		overflow: hidden;

		span {
			display: block;
			color: var(--darkGray);
			font-weight: bold;
			font-size: 0.85em;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p {
			display: block;
			color: var(--darkGrayBlack);
			font-size: 1.1em;
			margin-top: 2px;
		}
	}
}
