.headerText {
	width: 100%;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;

	.headerContent {
		text-align: left;

		.headerIntroD {
			display: none;
		}

		p {
			font-size: 1em;
			color: var(--white);
			width: 100%;
			max-width: 750px;
			line-height: 1.4;
		}

		h1 {
			color: var(--white);
			text-align: left;
			font-size: 1.8em;
			font-weight: bold;
			display: inline-block;
			position: relative;
			top: -2px;
		}
	}
}

@media screen and (min-width: 900px) {
	.headerText {
		.headerContent {
			.headerIntroD {
				display: block;
			}
			.headerIntroM {
				display: none;
			}
		}
	}
}
