.searchBox {
	position: relative;
	max-width: 750px;

	input {
		-webkit-appearance: none;
		appearance: none;
		margin-top: 20px;
		outline: none;
		border: none;
		box-shadow: none;
		font-size: 1.2em;
		padding: 10px 20px;
		font-weight: 450;
		color: var(--gray);
		border-radius: 100px;
		width: 100%;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}

	label {
		position: absolute;
		top: 20px;
		right: 10px;
		color: var(--blueGrayBlueDarkGray);
		padding: 5px;
		font-size: 2em;
		margin: 0;
	}
}
