.App {
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
}

.active {
    margin-bottom: 90px!important;
}

#prels {
    display: grid;
    grid-template-columns: 1fr;
}

#prels+div {
    margin: 0 auto;
}

.floating {
    position: fixed!important;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 10px;
    color: var(--white);
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.floating::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark);
    z-index: -1;
}

#togglePreview {
    display: none;
}

#togglePreview:checked~.preview {
    transition: opacity 0.3s ease-in-out, transform 0s linear 0s;
    opacity: 1;
    transform: scale(1);
}

#togglePreview:checked~.floating {
    transform: scale(0);
}

.filecontainer {
    padding: 20px 20px 0 20px;
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    opacity: 1;
    animation: op 0.3s ease-in-out 1;
}

.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgb(82, 86, 89);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0s linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview>.closePrev {
    color: var(--white);
    border-radius: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    z-index: 4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.preview>.closePrev::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background: #444;
}

.spinner {
    position: absolute;
    z-index: 1;
}

@keyframes iframe {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview>iframe {
    opacity: 1;
    animation: iframe 1s ease-in-out 1;
    position: relative;
    z-index: 3;
}

@media screen and (min-width:500px) {
    .App {
        width: calc(100% - var(--toolbar));
        margin-left: var(--toolbar);
    }
}

@media screen and (min-width: 900px) {
    .App {
        position: absolute;
        right: 0;
        top: 0;
        margin-left: unset;
        width: var(--appWidth);
        height: 100vh;
    }
}