@keyframes sp {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#preloader {
    background: var(--white);
    position: relative;
    z-index: 5;
    width: calc(100% - 40px);
    left: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    padding: 30px 20px;
    border-radius: 10px;
    opacity: 1;
    animation: sp 2s ease-in-out infinite;
    margin: 10px 0;
}

#preloader>span {
    width: 100%;
    display: block;
    background: var(--gray);
    height: 10px;
    border-radius: 100px;
    transition: width 1s ease-in-out;
    margin-bottom: 10px;
}

#preloader>span:nth-child(1) {
    opacity: 0.8;
    height: 15px;
}

#preloader>span:nth-child(2) {
    opacity: 0.5;
}

#preloader>span:nth-child(3) {
    opacity: 0.5;
}

#preloader>span:nth-child(4) {
    opacity: 0.5;
}

#preloader>div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#preloader>div>i {
    background: var(--gray);
    height: 40px;
    position: relative;
    border-radius: 5px;
    opacity: 0.6;
    margin-right: 10px;
}

#preloader>div>i:nth-child(1) {
    width: 40px;
    justify-self: flex-start;
}

#preloader>div>i:nth-child(2) {
    width: 40px;
    justify-self: flex-start;
}

#preloader>div>i:nth-child(3) {
    width: 150px;
    right: 20px;
    position: absolute;
    margin-right: 0;
}