.navbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.7s ease-in-out;
	display: block;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: var(--blueGrayBlueDarkGray);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.navContent {
		position: relative;
		width: 100%;
		padding: 30px;

		.searchList {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10;
			height: 100vh;
			background: rgba(0, 0, 0, 0.7);
			opacity: 0;
			transform: scale(0);
			transition: opacity 0.3s ease-in-out, transform 0s linear 0.3s;
			overflow: hidden;
			backdrop-filter: blur(3px);

			ul {
				background: var(--whiteDarkGray);
				padding: 5px 20px;
				list-style: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				height: 500px;
				border-radius: 10px;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
				max-width: 350px;
				font-size: 1.3em;
				overflow: scroll;

				li {
					height: 55px;
					border-bottom: 2px solid rgba(0, 0, 0, 0.1);
					transition: all 0.3s ease-in-out;
					cursor: pointer;
					font-weight: 600;
					color: var(--blackWhite);
					display: flex;
					align-items: center;
					padding: 13px;
					width: 100%;
					font-size: 0.8em;
					opacity: 0.6;

					i {
						margin-right: 15px;
					}

					&:first-child {
						color: var(--blackWhite);
						font-size: 0.9em;
						opacity: 0.8;
					}

					&:last-child {
						border: none;
					}
				}
			}
		}

		.navTools {
			width: auto;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			margin-top: 10px;
			z-index: 2;

			.showSearchList {
				color: var(--white);
				font-weight: bold;
				background-color: rgba(0, 0, 0, 0.3);
				padding: 15px;
				border-radius: 5px;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
				cursor: pointer;
				display: flex;
				align-items: center;

				i {
					position: relative;
					left: -5px;
				}

				&::-moz-scrollbar {
					display: none;
				}
			}

			.darkMode {
				border: none;
				outline: none;
				appearance: none;
				color: var(--white);
				font-weight: bold;
				padding: 15px;
				border-radius: 5px;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
				cursor: pointer;
				margin-left: 10px;
				overflow: hidden;
				background: transparent;
				position: relative;
				z-index: 3;
				display: flex;
				align-items: center;

				i {
					font-size: 1.8em;
				}

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--white);
					opacity: 0.3;
					z-index: -1;
				}
			}
		}

		.showList {
			display: none;

			&:checked ~ .searchList {
				transition: opacity 0.3s ease-in-out, transform 0s linear 0s;
				opacity: 1;
				transform: scale(1);
			}
		}

		.searchBox {
			position: relative;
			max-width: 750px;

			input {
				margin-top: 20px;
				outline: none;
				border: none;
				box-shadow: none;
				font-size: 1.2em;
				padding: 10px 20px;
				font-weight: 450;
				color: var(--gray);
				border-radius: 100px;
				width: 100%;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
			}

			label {
				position: absolute;
				top: 20px;
				right: 10px;
				color: var(--blueGrayDarkBlueGray);
				padding: 5px;
				font-size: 2em;
				margin: 0;
			}
		}

		.headerText {
			width: 100%;
			display: flex;
			list-style: none;
			align-items: center;
			justify-content: space-between;

			.headerContent {
				text-align: left;

				p {
					font-size: 1em;
					color: var(--white);
					width: 100%;
					max-width: 750px;
					line-height: 1.4;
				}

				h1 {
					color: var(--white);
					text-align: left;
					font-size: 1.8em;
					font-weight: bold;
					display: inline-block;
					position: relative;
					top: -2px;
				}
			}
		}
	}
}

@media screen and (min-width: 380px) {
	.navbar {
		.navContent {
			.darkMode {
				i {
					font-size: 1.6em;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.navbar {
		left: var(--toolbar);
		width: calc(100% - var(--toolbar));
	}
}

@media screen and (min-width: 600px) {
	.navbar {
		.navContent {
			.darkMode > i {
				font-size: 1.8em;
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.navbar {
		left: var(--toolbar);
		width: calc(100% - var(--appWidth) - var(--toolbar));
		height: 100vh;
	}
}

@media screen and (min-width: 1200px) {
	.navbar {
		.navContent {
			.searchList {
				background: rgba(0, 0, 0, 0.2);

				ul {
					transform: none;
					left: 100px;
					top: 300px;
					height: 300px;
				}

				&::after {
					content: '';
					position: absolute;
					top: 282px;
					z-index: 2;
					left: 120px;
					width: 0;
					height: 0;
					border-left: 18px solid transparent;
					border-right: 18px solid transparent;
					border-bottom: 18px solid var(--whiteDarkGray);
				}
			}
		}
	}
}

@media screen and (min-width: 1700px) {
	.navbar {
		width: calc(100% - var(--appWidth) - var(--toolbar) - 100px);
	}
}
