.file {
	background: var(--whiteDarkGray);
	padding: 0 20px;
	border-radius: 10px;
	height: 250px;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 1em;
}

@media screen and (min-width: 380px) {
	.file {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 600px) {
	.file {
		height: 300px;
		font-size: 1em;
	}
}

@media screen and (min-width: 1500px) {
	.file {
		height: 330px;
	}
}
