* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

body {
	--white: #fff;
	font-size: 15px;
	overflow-x: hidden;
	background: var(--white);
}

/* LISTAS */

ul,
ol {
	list-style: none;
}

/* LINK */

a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}
}
