body {
	overscroll-behavior: none;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	--width: 900px;
	--toolbar: 70px;
	--white: #fff;
	--files: #fff;
	--filesHead: rgba(0, 0, 0, .8);
	--dark: #455a64;
	--buttons: #1976d2;
	--buttonsDark: hsl(187, 79%, 40%);
	--primary: #607d8b;
	--gray: #777;
	--gray-light: #aaa;
	--appWidth: 450px;
	--breakPoint: 900px;
	margin: 0;
	background-color: #eee;
	box-sizing: border-box;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	font-size: 15px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.waves {
	position: relative;
	overflow: hidden;
}

.ripple {
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	transform: scale(0);
	z-index: -1;
}

.ripple-dark {
	background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
	display: none;
}

::-moz-scrollbar {
	display: none;
}

::scrollbar {
	display: none;
}

.toast {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
	background: #444;
	padding: 23px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
}

.actionToast {
	padding: 10px 20px;
}

.toast>span {
	font-size: 1.1em;
	font-weight: bold;
	color: var(--white);
}

.toast>button {
	appearance: none;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, .4);
	color: var(--white);
	padding: 15px 25px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

@keyframes ripple {
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.alertContainer {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	animation: show 0.4s ease-in-out 1;
	transition: opacity 0.4s ease-in-out;
}

.alertContainer>.alertShadow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.alertContainer .alertContent {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 400px;
	transform: translate(-50%, -50%);
	background: var(--files);
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.alertContainer .alertContent ul {
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 3;
	list-style: none;
}

.alertContainer .alertContent ul li .cancelBtn {
	color: var(--filesHead);
	opacity: 0.8;
	display: none;
}

.alertContainer .alertContent ul li .confirmBtn {
	background-color: var(--buttons);
	color: var(--white);
}

.alertContainer .alertContent ul li button {
	text-align: left;
	padding: 12px 15px;
	padding-left: 19px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: transparent;
	border: none;
	outline: none;
	font-weight: bold;
	box-shadow: none;
	overflow: hidden;
	cursor: pointer;
}

.alertContainer .alertContent ul li button>i {
	margin-right: 10px;
}

.alertContainer .alertContent h1 {
	color: var(--filesHead);
}

.alertContainer .alertContent p {
	margin-bottom: 10px;
	color: var(--filesHead);
	opacity: 0.8;
}

@media screen and (max-width:380px) {
	body {
		font-size: 13px;
	}
}

@media screen and (min-width:600px) {
	body {
		font-size: 18px;
	}
}

@media screen and (min-width:1500px) {
	body {
		font-size: 20px;
	}
}