@font-face {
	src: url('./Fonts/Product_Sans_Bold.ttf');
	font-family: 'ProductSans';
	font-weight: 700;
}

@font-face {
	src: url('./Fonts/Product_Sans_Regular.ttf');
	font-family: 'ProductSans';
	font-weight: 500;
}

body {
	overscroll-behavior: none;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	--width: 900px;
	--toolbar: 70px;
	--appWidth: 450px;
	--breakPoint: 900px;
	margin: 0;
	background-color: #eee;
	box-sizing: border-box;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	font-size: 15px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	font-family: 'ProductSans';
}

/* ALERTAS */
main + div > div {
	background-color: var(--whiteDarkGray) !important;
}
main + div > div > p,
main + div > div > h1,
main + div > div > ul > li > button {
	color: var(--blackWhite) !important;
}

main + div > div > ul > li:last-child > button {
	color: var(--white) !important;
}

/* LISTAS */

ul,
ol {
	list-style: none;
}

/* LINK */

a {
	text-decoration: none;
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
	}
}
