.container {
	width: 100%;
	height: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;

	img {
		align-self: center;
		width: 60%;
		height: 100%;
		margin-top: 20px;
	}

	h2,
	p {
		color: var(--darkGrayWhite);
	}
}
